extends layout

block content
  div.row
    div.col-md-8.col-sm-12
      h1= title
      p Welcome to the Wish I Was Here green screen keying server.
      p Originally, this server was designed to be used in conjunction with the 
        a(href="https://github.com/wishiwashere/TeamProject-2016" target="_blank") Wish I Was Here app
      p Images from the camera on a device running the app would be sent to the server through HTTP Post requests, so that the green screen keying could be carried out remotely, and the resulting keyed image returned to the device.
      p Due to the significant time that it was taking for the server to process the images (up to 30 seconds at times) it was decided that the green screen keying would remain within the core app, as images can be processed there within 2 to 3 seconds (although it does have a significant impact on the device's memory).
      p For a preview of how this green screen server works, click "Remove Green Screen" (Note - this can take up to 30 seconds)
      p The repository for this server is available on 
        a(href="https://github.com/wishiwashere/TeamProject-2016_WebServer" target="_blank") GitHub
      p The Wish I Was Here app is available on 
        a(href="https://play.google.com/store/apps/details?id=processing.test.wish_i_was_here&ah=vSa3i6qQw1bEdd0nt5kwAgY1DjA" target="_blank") Google Play Store
      p The repository for the Wish I Was Here app is available on 
        a(href="https://github.com/wishiwashere/TeamProject-2016" target="_blank") GitHub
    div.col-md-4.col-sm-12
      form(action="/exampleKeying" method="post")
        input(type="submit" value="Remove Green Screen")
      br
      img(src="#{image}" id="removeGreenScreenImage")
  
      
